apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: coturn-web
spec:
  hosts:
    - "*"
  gateways:
    - coturn
  http:
    - match:
        - uri:
            prefix: /turn/
      route:
        - destination:
            host: coturn-web
            port:
              number: 8080